/* при  окончательном оформлении
 проверить закоментированные значения */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: roboto, sans-serif;
  color: #757575;
}

/* убирает маркеры в маркированном списке */
li {
  list-style: none;
}

ul,
p {
  margin: 0;
  padding: 0;
}

.page-title {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000000;
  outline: 1px solid red;
}

.page-title-color {
  color: #2196f3;
}
.nav-elements-style {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  outline: 1px solid red;
}

.studio-link-current-color {
  color: #2196f3;
}

/* убирает подчеркивание ссылок */
a {
  text-decoration-line: none;
  /* наследует значение свойства предка */
  color: inherit;
}

a:focus {
  color: #2196f3;
  outline-color: inherit;
}

.contacts-link-style {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  outline: 1px solid red;
}

.address-map {
  outline: 1px solid red;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.hover-for-regular-links:hover {
  color: #2196f3;
}

.portfolio-button-item:hover {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*  порядок вставки псевоклассов по спец
a:link { color: red; }
a:visited { color: grey; }
a:hover { color: blue; }
a:active { background-color: yellow; } */

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
}

.hero-tagline {
  margin-top: 0;
  margin-bottom: 30px;
  /* margin-left: auto; */
  /* margin-right: auto; */
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
  /* text-align: center; */
  /* width: 696px;
  height: 120px; */
}

.button-hero {
  display: inline-block;
  min-width: 200px;
  padding: 10px 32px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  font-family: roboto, sans-serif;
  border: 1px solid transparent;
  text-align: center;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.features-list-item-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.features-list-item-child {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.features-list {
  margin-bottom: 94px;
}

.about-work-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.about-us-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  /* text-align: center; */
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 0px;
  margin-bottom: 50px;
}
.about-our-team-list li h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* text-align: center; */
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 0;
  margin-bottom: 10px;
}

.about-our-team-list li p {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* text-align: center; */
  letter-spacing: 0.03em;
}

.about-our-team-list {
  background-color: #fff;
}

.portfolio-link-current-color {
  color: #2196f3;
}

.portfolio-button-item {
  display: inline-block;
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  border: 1px solid transparent;
  cursor: pointer;
  box-shadow: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  font-family: roboto, sans-serif;
}

.portfolio-buttons-list {
  margin-bottom: 50px;
}

.projects-list-item-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
  margin: 0 0 4px 0;
}

.projects-list-item a p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

.projects-list-item img {
  margin-bottom: 20px;
}

.projects-list-item {
  background-color: #fff;
  padding-bottom: 20px;
  border: 1px solid #eeeeee;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 1px solid blue;
}

.container-portfolio-buttons {
  width: 611px;
  margin: 0 auto;
  outline: 1px solid blue;
}

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team {
  background-color: skyblue;
  padding-top: 94px;
  padding-bottom: 94px;
}

.section {
  outline: 1px solid magenta;
}

footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-nav {
  margin-bottom: 20px;
}

.address-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.portfolio {
  padding: 94px 0 94px 0;
}
